<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArcBlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>352A3EB81BFA2C370013ED3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352A3ED41BFA2C370013ED3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352A3EDF1BFA2C370013ED3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
